<h1>Welcome</h1>
<form action="/users" method="POST">
    <input name="name" required placeholder= "Enter name"/>
    <input type="tel" name="phone_number" required placeholder= "Enter mobile number"/>
    <button type="submit">Create Account</button>
</form>